In [2]:
#1 
var_1 = 13
print(var_1)

13

In [3]:
#2
type(8.5)

float

In [4]:
#3
type(var_1)

int

In [5]:
#4
var_2 = "Juan José Arévalo Camargo"

In [6]:
#5
var_3 = 10 + 2j

In [7]:
#6
type(var_3)

complex

In [9]:
#7
import math
Pi = math.pi
Pi = round(Pi,4)

In [10]:
#8
var_4 = "True"
Var_5 = True
#No se tratan de lo mismo

In [11]:
#9
print(type(var_4))
print(type(Var_5))

<class 'str'>
<class 'bool'>

In [12]:
#10
var_6 = 3 + 3.4

In [13]:
#11
10j + 22j

32j

In [14]:
#12
4 + 6j

(4+6j)

In [15]:
#13
5 * 4

20

In [16]:
#14
2 ** 8

256

In [17]:
#15
var_7 = 27/4
print(var_7)

6.75

In [18]:
#16
27//4

6

In [19]:
#17
27%4

3

In [20]:
#18
(6 * 4) + 3

27

In [21]:
#19
"Hola " + "Mundo!"

'Hola Mundo!'

In [22]:
"2" == 2
#Esto ocurre porque el primer dos es tipo string y el segundo es tipo entero

False

In [23]:
#21
"2" == str(2)

True

In [27]:
#22
a = float('3,8')

#Marca error ya que el número decimal debe ser escrito con puntos en lugar de comas para poder ser considerado flotante

ValueError: could not convert string to float: '3,8'

In [28]:
#23
var_8 = 3
var_8 -= 1

In [30]:
#24
1 << 2

#Aquí se utilizan los operadores binario, lo que sucede, es que el 1 en binario es igual a 1; y desplazamos este
#binario dos ceros a la izquierda, dando como resultado el binario 100, que en decimales es igual a 4.

4

In [31]:
#25
2 + '2'

#Esta operación no está permitida ya que no se puede sumar un valor de tipo entero y un de tipo string.
# Si los dos fueran de tipo entero el resultado seria 4 y si fueran de tipo string, el resultado sería "22".

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
#26
var_9 = "2" + str(2)
var_10 = int("2") + 2
print(var_9)
print(var_10)

22
4